{% extends 'adminbase.html.twig' %}

{% block title %}Edit Usuario{% endblock %}

{% block body %}
    <h1>Editar Usuario</h1>
    <div class="container">

    {{ include('usuario/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('usuario_index') }}">Volver al indice</a>

    {{ include('usuario/_delete_form.html.twig') }}
    </div>
{% endblock %}
