{% extends 'base.html.twig' %}

{% block title %}global.usuario{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="container" >
                        <img id="profile-img" src="/SportSpals/public/avatars/{{global.usuario.avatar}}">
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        Nombre
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        Apellidos
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        Email
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        Localidad
                    </div>
                </div>
            </div>
            <div class="col-md-8">
            </div>
        </div>
    </div>

{% endblock %}
