body {
    background-color: #E2FFFC;
   padding-top: 90px; 
  }
  
  #nav-avatar{
    width: 60px;
    height: 60px;
    border-radius: 1em;
  }

  #cerrar-sesion{
    padding: 2px;
    background-color:#D94846;
    border-radius: 0.5em;
    color: silver;
  }

  .evento-index{
    height: 18em;
    padding: 1.5em, 1.5em, 1.5em, 1.5em;
  }

  .infoHead{
    text-align: center;
  }

  .info{
    background-color: teal;
    color: white;
    padding: 3em;
    height: 20em;
    border-radius: 1em;
  }
  .infoCont{
    padding: 2em;
  }
  .index{
    padding: 2em;
  }

 #header-login{
   border-width: 2px;
   border-color: orange;
   border-style: solid;
   color: orange;
   width: 7em;
 }
  .evento{
    
    height: 25em;
    padding: 10px;
    margin-bottom: 10px;
  }

  .event-title{
    background-color: #d9d9d9;
    color: black;
    text-align: center;
    width: 90%;
  }

  .event-incription{
    height: 2em;
    padding-top :5px;
    background-color: indigo;
    color: ivory;
    border-radius: 0.5em;
  }

  .event-incription a{
    color: ivory;
  }

  .event-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 2px;
  }

  #court{
    background: no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 56em;
    padding-top: 1em;
    padding-bottom: 2em;
    padding-left: 3em;
    padding-right: 3em;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }

  .tenis-half{
    height: 27em;
    padding: 5em;

  }
  .position{
    text-align: center;
    height: 9em;
    white-space: nowrap;
    padding-top: 1em;
  }

  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

  .position-avatar{
    border-radius: 50%;
    height: 5em;
    width: 5em;
    vertical-align: middle;
  }

  #profile-img{
    height: 8em;
    width: 8em;
    background-color: #D94846;
  }

  #calendar{
    height: 30em;
    width: 45em;
    padding-left: 0em;
    padding-bottom: 1em;
  }

  .comment_message{
    padding: 0.5em;
  }

  .comment_user{
    padding: 0.5em;
    color: #81adb3;
  }

  .comment{
    padding: 10px;
    border-radius: 0.6em;
    border-color: #c1bdbc;
    border-width: 1px;
    border-style: solid;
    width: 90%;
    height: 4em;
    padding: 0.5em;
  }

  .prueba{
    position: relative;
    display: inline-block;
  }
  .prueba .vote {
    visibility: hidden;
    width: 15em;
    height: 6em;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .prueba:hover .vote {
    visibility: visible;
    opacity: 1;
  }

  .pos_1{
    height: 27em;
    border-color: indigo;
    border-style: solid;
    border-width: 2px;
    text-align: center;
  }
  .pos_2{
    height: 13.5em;
    border-color: indigo;
    border-style: solid;
    border-width: 2px;
  }
  .pos_3{
    height: 9em;
    border-color: indigo;
    border-style: solid;
    border-width: 2px;
  }
  .pos_4{
    height: 6.8em;
    border-color: indigo;
    border-style: solid;
    border-width: 2px;
  }
  .pos_5{
    height: 5.4em;
    border-color: indigo;
    border-style: solid;
    border-width: 2px;
  }

  .lg-button{
    background-color: #040947;
    width: 100%;
    color: white;
    font-size: 1em;
  }

  #header1{
    background-color: #515367;
  }

  #usuario{
    background-color: blue;
  }
  .header-div{
    width: 15em;
    text-align: center;
    height: 5em;
  }

 .rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}