body {
    background-color: #E2FFFC;
  }
  
  #nav-avatar{
    width: 75px;
    height: 75px;
    border-radius: 1em;
  }

  #cerrar-sesion{
    padding: 2px;
    background-color:#D94846;
    border-radius: 0.5em;
    color: silver;
  }

  .evento-index{
    height: 18em;
    padding: 1.5em, 1.5em, 1.5em, 1.5em;
  }

  .infoHead{
    text-align: center;
  }

  .info{
    background-color: teal;
    color: white;
    padding: 3em;
    height: 20em;
    border-radius: 1em;
  }
  .infoCont{
    padding: 2em;
  }
  .index{
    padding: 2em;
  }

  #court{
    background: no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 56em;
    padding-top: 1em;
    padding-bottom: 2em;
    padding-left: 3em;
    padding-right: 3em;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }

  .tenis-half{
    height: 27em;
    padding: 5em;

  }
  .position{
    text-align: center;
    height: 9em;
    white-space: nowrap;
    padding-top: 2em;
  }

  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

  .position-avatar{
    border-radius: 50%;
    height: 6em;
    width: 6em;
    vertical-align: middle;
  }

  #profile-img{
    height: 8em;
    width: 8em;
    background-color: #D94846;
  }