{% extends 'base.html.twig' %}

{% block title %}Deportes{% endblock %}

{% block body %}
    <h1>Nuestros deportes</h1>
    {% for row in global.deportes|batch(3) %}
        <div class="row">
            {% for deporte in row %}
                <div class="col-md-4 evento">
                    <div class="evento-fondo" style="background-image:url('/SportSpals/public/sports/{{deporte.nombre}}.png'), url('/SportSpals/public/sports/default.jpg')">
                        <div class="row">
                        
                            <div class="col-md-12 event-title">
                                <h3><b>{{deporte.nombre}}</b></h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 event-body">
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                
                            </div>
                            <div class="col-md-4 event-city">
                            </div>
                            <div class="col-md-2">
                                <p>            </p>
                            </div>
                            <div class="col-md-3 event-incription">
                                <b><a href="{{ path('deporte_show', {'id': deporte.id}) }}">Detalles</a></b>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}