{% extends 'base.html.twig' %}

{% block title %}Deportes{% endblock %}

{% block body %}
    <h1>Deporte index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for deporte in deportes %}
            <tr>
                <td>{{ deporte.id }}</td>
                <td>{{ deporte.Nombre }}</td>
                <td>{{ deporte.Descripcion }}</td>
                <td>
                    <a href="{{ path('deporte_show', {'id': deporte.id}) }}">Ve al evento</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aun no hay ningun deporte registrado</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}