{% extends 'base.html.twig' %}

{% block title %}Edit Nivel{% endblock %}

{% block body %}
    <h1>Edit Nivel</h1>

    {{ include('nivel/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('nivel_index') }}">back to list</a>

    {{ include('nivel/_delete_form.html.twig') }}
{% endblock %}
