{% extends 'base.html.twig' %}

{% block title %}New Nivel{% endblock %}

{% block body %}
    <h1>Create new Nivel</h1>

    {{ include('nivel/_form.html.twig') }}

    <a href="{{ path('nivel_index') }}">back to list</a>
{% endblock %}
