<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <a href="/SportSpals/public/index.php/usuario/new"></a>
            </div>
            <div class="row">
                <a href="/SportSpals/public/index.php/admin/deporte">Deportes</a>
            </div>
            <div class="row">
                <a href="/SportSpals/public/index.php/admin/evento">Eventos</a>
            </div>
            <div class="row">
                <a href="/SportSpals/public/index.php/admin/usuario">Usario</a>
            </div>
        </div>
        <div class="col-md-8">
            fdsfsd
        </div>
    </div>
</div>