<html lang="en">
<head>
  <meta charset="utf-8">
  <title>html demo</title>
  <style>
  .red {
    color: red;
  }
  </style>
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>
<body>

 <h4> Indica las posiciones que tendr치 cada equipo </h4><button class"add-pos">A침adir posici칩n</button>
 <div id="sportId" name="{{global.deporteId}}" style="visibility: hidden"></div>
 {% if global.requeridos != null %}
  <div id="requeridos" name="{{global.requeridos}}" style="visibility: hidden"></div>
 {% endif %}
<form>
    
</form>
 <span class="create">Crear Template</span>
 <br><br><br>
 <p> No puedes a침adir mas posiciones, no puedes superar las posiciones requeridas para el deporte seleccionado.</p>
<script>
$(document).ready(function(){

$('p').hide();
  
  var maxItems = $('#requeridos').attr('name')*2;  

  var idDeporte = $('#sportId').attr('name');
    $('button').click(function(event){
      
        $('<div class="row">')
        .appendTo("form");
         $("<label>Fila</label>")
        .appendTo("form");
        $("<input type='number' value=''/>")
        .attr("name", "fila")
        .appendTo("form");
        $("<label>Posicion</label>")
        .appendTo("form");
        $("<input type='text' value='' />")
        .attr("name", "colum")
        .appendTo("form");
        $("</div>")
        .appendTo("form");

      var numItems = $('input').length;
       if(numItems == maxItems){
          $('button').hide();
          $('p').show();
        };
    });

    $('.create').click(function(event){
            event.preventDefault();
            var form = $('form');
            $.ajax({
                url : "{{ path('admin_ajax_template')}}",
                type: "POST",
                data: {'data' :form.serialize(),
                        'id' : idDeporte },
                
            });
            
        });
});

</script>
 
</body>
</html>