{% extends 'base.html.twig' %}

{% block title %}New Evento{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-5">
            <h1>Crea tu nuevo evento</h1>
<br><br>

            {{ include('evento/_form.html.twig') }}
        </div>
        <div class="col-md-4">
            <a href="{{ path('evento_index') }}">back to list</a> 
        </div>
    </div>
    <br><br>
</div>
    

    

   

    <script>
        var $sport = $('#evento_deporte');
        
        $sport.change(function() {
            var $form = $(this).closest('form');
            var data = {};
            console.log($form.attr('method'), $form.attr('method'));
            data[$sport.attr('name')] = $sport.val();
            $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
                data : data,
                success: function(html) {
                    $('#evento_nivel').replaceWith(
                        $(html).find('#evento_nivel')
                    );
                }
            });
        });
</script>
{% endblock %}
